<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
    <head>
	
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-style-type" content="text/css" />
        <meta http-equiv="content-script-type" content="text/javascript" />
        
        <title>Hamptons Babysitters</title>
        
        <link rel="stylesheet" type="text/css" href="css/black.css" media="screen, projection, tv" />
        <!--[if lte IE 7.0]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen, projection, tv" /><![endif]-->
		<!--[if IE 8.0]>
			<style type="text/css">
				form.fields fieldset {margin-top: -10px;}
			</style>
		<![endif]-->
		
		<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
		<!-- Adding support for transparent PNGs in IE6: -->
		<!--[if lte IE 6]>
			<script type="text/javascript" src="js/ddpng.js"></script>
			<script type="text/javascript">
				DD_belatedPNG.fix('#nav #h-wrap .h-ico');
				DD_belatedPNG.fix('.ico img');
				DD_belatedPNG.fix('.msg p');
				DD_belatedPNG.fix('table.calendar thead th.month a img');
				DD_belatedPNG.fix('table.calendar tbody img');
			</script>
		<![endif]-->
		<script type="text/javascript">
			$(document).ready(function() {
			    // Search input text handling on focus
					var $searchq = $("#search-q").attr("value");
				    $('#search-q.text').css('color', '#999');
					$('#search-q').focus(function(){
						if ( $(this).attr('value') == $searchq) {
							$(this).css('color', '#555');
							$(this).attr('value', '');
						}
					});
					$('#search-q').blur(function(){
						if ( $(this).attr('value') == '' ) {
							$(this).attr('value', $searchq);
							$(this).css('color', '#999');
						}
					});
				// Switch categories
					$('#h-wrap').hover(function(){
							$(this).toggleClass('active');
							$("#h-wrap ul").css('display', 'block');
						}, function(){
							$(this).toggleClass('active');
							$("#h-wrap ul").css('display', 'none');
					});
				// Handling with tables (adding first and last classes for borders and adding alternate bgs)
					$('tbody tr:even').addClass('even');
					$('table.grid tbody tr:last-child').addClass('last');
					$('tr th:first-child, tr td:first-child').addClass('first');
					$('tr th:last-child, tr td:last-child').addClass('last');
					$('form.fields fieldset:last-child').addClass('last');
				// Handling with lists (alternate bgs)
					$('ul.simple li:even').addClass('even');
				// Handling with grid views (adding first and last classes for borders and adding alternate bgs)
					$('.grid .line:even').addClass('even');
					$('.grid .line:first-child').addClass('firstline');
					$('.grid .line:last-child').addClass('lastline');
				// Tabs switching
					$('#box1 .content#box1-grid').hide(); // hide content related to inactive tab by default
					$('#box1 .header ul a').click(function(){
						$('#box1 .header ul a').removeClass('active');
						$(this).addClass('active'); // make clicked tab active
						$('#box1 .content').hide(); // hide all content
						$('#box1').find('#' + $(this).attr('rel')).show(); // and show content related to clicked tab
						return false;
					});
			});
		</script>
		
    </head>
    <body>	
		<div id="container">
		  <div id="header">
		    <div id="logo"><img src="img/txt.gif" alt="" width="1" height="12" /><img src="img/logo.jpg" width="360" height="125" alt="Hamptons Babysitters" /></div>
            <div class="floatright"><a href="admin-home.html">ADMIN SECTION</a> | <a href="client-home.html">CLIENT SECTION</a> | <a href="sitter-home.html">BABYSITTER SECTION</a></div>
		  </div>
		  <div id="nav">
             <ul>
               <li><a href="admin-home.html">Home</a></li>
               <li><a href="admin-jobs.html" class="sel">Jobs</a></li>
               <li><a href="admin-clients.html">Clients</a></li>
               <li><a href="admin-babysitters.html">Babysitters</a></li>
             </ul>
          </div>
			<div class="inner-container">
				
				<!-- Main content – all content is within boxes. Feel free to add your boxes (see the examples on the bottom of this document) and your content within -->
				<div class="box box-100 altbox">
				  <div class="boxin">
				    <div class="header">
				      <h3>New Jobs</h3>
				      <ul>
				        <li><a href="admin-jobs.html" class="active">New Jobs</a></li>
				        <li><a href="admin-jobs-assigned.html">Pending Jobs</a></li>
				        <li><a href="admin-jobs-accepted.html">Confirmed Jobs</a></li>
                        <li><a href="admin-jobs-completed.html">Completed Jobs</a></li>
			          </ul>
			        </div>
				    <div class="content">
				      <table cellspacing="0">
				        <thead>
				          <tr>
				            <th>Job No.</th>
				            <th>Job Rec. Date/Time</th>
				            <th>Start Date/Time</th>
				            <td class="tc">End Date/Time</td>
				            <td class="tc">Client</td>
				            <td class="tc">Rate</td>
				            <td class="tc">Accept Job</td>
			              </tr>
			            </thead>
				        <tbody>
				          <tr class="first">
				            <!-- .first for first row of the table (only if there is thead) -->
				            <th><a href="admin-view-job.html">000007</a></th>
				            <th>04/12/11<span class="tc"> - </span>10:00AM</th>
				            <th>04/12/11<span class="tc"> - </span>10:00AM</th>
				            <td class="tc">04/10/11 - 16:33</td>
				            <td class="tc"><a href="#">Vicku Dulai</a></td>
				            <td class="tc">$20</td>
				            <td class="tc"><input class="button altbutton" type="submit" value="Assign" onClick="javascript:window.location='admin-view-job-manage-sitter.html';" /></td>
				            <!-- a.ico-comms for comment-like backgrounds -->
			              </tr>
				          <tr>
				            <th><a href="admin-view-job.html">000006</a></th>
				            <th>04/10/11<span class="tc"> - </span>10:00AM</th>
				            <th>04/10/11<span class="tc"> - </span>10:00AM</th>
				            <td class="tc">04/10/11 - 16:33</td>
				            <td class="tc"><a href="#">Vicku Dulai</a></td>
				            <td class="tc">$24</td>
				            <td class="tc"><input class="button altbutton" type="submit" value="Assign" onclick="javascript:window.location='admin-view-job-manage-sitter.html';" /></td>
			              </tr>
				          <tr>
				            <th><a href="admin-view-job.html">000005</a></th>
				            <th>04/01/11<span class="tc"> - </span>10:00AM</th>
				            <th>04/01/11<span class="tc"> - </span>10:00AM</th>
				            <td class="tc">04/10/11 - 16:33</td>
				            <td class="tc"><a href="#">Kimberly</a></td>
				            <td class="tc">$24</td>
				            <td class="tc"><input class="button altbutton" type="submit" value="Assign" onclick="javascript:window.location='admin-view-job-manage-sitter.html';" /></td>
			              </tr>
				          <tr>
				            <th><a href="admin-view-job.html">000004</a></th>
				            <th>03/27/11<span class="tc"> - </span>10:00AM</th>
				            <th>03/27/11<span class="tc"> - </span>10:00AM</th>
				            <td class="tc">04/10/11 - 16:33</td>
				            <td class="tc"><a href="#">Vicku Dula1</a></td>
				            <td class="tc">$20 </td>
				            <td class="tc"><input class="button altbutton" type="submit" value="Assign" onclick="javascript:window.location='admin-view-job-manage-sitter.html';" /></td>
			              </tr>
				          <tr>
				            <th><a href="#">000003</a></th>
				            <th>03/26/11<span class="tc"> - </span>10:00AM</th>
				            <th>03/26/11<span class="tc"> - </span>10:00AM</th>
				            <td class="tc">04/10/11 - 16:33</td>
				            <td class="tc"><a href="#">Kimberly</a></td>
				            <td class="tc">$20</td>
				            <td class="tc"><input class="button altbutton" type="submit" value="Assign" onclick="javascript:window.location='admin-view-job-manage-sitter.html';" /></td>
			              </tr>
			            </tbody>
			          </table>
				      <div class="pagination">
				        <!-- pagination underneath the box's content -->
				        <ul>
				          <li><a href="#">previous</a></li>
				          <li><a href="#">1</a></li>
				          <li><a href="#">2</a></li>
				          <li><strong>3</strong></li>
				          <li><a href="#">4</a></li>
				          <li><a href="#">5</a></li>
				          <li><a href="#">next</a></li>
			            </ul>
			          </div>
			        </div>
			      </div>
			  </div>
				<br clear="all" />
			</div><!-- .inner-container -->
            <div id="footer"></div>
		</div><!-- #container -->
		
    </body>
</html>